mixin select(id, label, options)
	label.u-fw400.u-posr.u-w100p.o-input(for=id)
		select.o-input__input(id=id, required)
			if options && options.length
				each opt in options
					option(value=opt)
						| !{!opt ? '' : opt}
		span.u-dib.u-posa.u-t0.u-l0.u-mtb2.u-mlb2.o-input__text #{label}
