mixin tiles(items)
	-var result = []
	-var clone = items.map(item => item);
	-var totalItems = items.length;


	-	while (totalItems > 0) {
	-		while (((totalItems - 3) % 3 == 0 || totalItems - 3 >= 2) && totalItems - 3 >= 0) {
	-			result.push(clone.splice(0,3))
	-			totalItems = clone.length;
	-		}
	-		while (totalItems - 2 >= 0) {
	-			result.push(clone.splice(0,2))
	-			totalItems = clone.length
	-		}
	-	}


	-var DEG = 5;
	-var percentageOnTan = Math.tan(DEG * Math.PI/180) * 100

	.u-mbb4.c-tiles
		each groupItems,groupIndex in result
			-var pb = `calc((100vw / ${groupItems.length}) * ${Math.tan(DEG * Math.PI/180)} * ${groupItems.length-1})`.trim()
			-var multiplier = groupIndex > 0 && groupItems.length == 2  && result[groupIndex - 1].length == 2 ? 2 : 1.5;
			-var mtbNeg = groupIndex > 0 ? `calc(((100vw / ${result[groupIndex - 1].length}) * ${Math.tan(DEG * Math.PI/180)} * ${result[groupIndex - 1].length-1}) * -${multiplier})`.trim() : ''
			-var style = `${groupIndex > 0 ? `margin-top: ${mtbNeg}; ` : ''}padding-bottom: ${pb}`

			.u-mbb1.u-mbb1-sm.u-mbb2-md.u-mbb0-last.u-df-sm.c-tiles__group(style=style)
				each item,index in groupItems
					-var y = `calc((100vw / ${groupItems.length}) * ${Math.tan(DEG * Math.PI/180)} * ${groupItems.length-1 - index})`
					.u-fx1.u-mbb1.u-mbb0-sm.u-mbb0-last.u-mrb1-sm.u-mrb2-md.u-mrb0-last.u-posr.c-tiles__item(style="top: " + y)
						a(href="#").u-embed__item.u-z1
						.u-h100p.u-py-halfangle
							.u-h100p.u-posr.u-ovh.c-tiles__mediacontainer
								.u-embed__item.u-bgimg.c-tiles__media-item.js-lazysizes(data-bgset="https://unsplash.it/720/648")
								.u-embed__item.u-bg-scrim-flat
						.u-posa.u-t0.u-b0.u-l0.u-w100p.u-df.align-items-center.justify-content-center
							.u-tac
								.h4.u-c-fff.u-mbb1p5=item

//- items

//- 1 [0]
//- 2 [[0,1]]
//- 3 [[0,1,2]]
//- 4 [[0,1], [2,3]]
//- 5 [[0,1,2], [3,4]]
//- 6 [[0,1,2], [3,4,5]]
//- 7 [[0,1,2], [3,4], [3,4]]
//- 8 [[0,1,2], [0,1,2], [3,4], [3,4]]
//- 8 [[0,1,2], [0,1,2], [3,4], [3,4]]

//-
